In [1]:
import pandas as pd

In [2]:
filepath="C:/data/bicycle.csv"

In [3]:
df=pd.read_csv(filepath, engine='python', encoding='cp949')

In [5]:
df.isnull().sum()

자전거번호           0
대여일시            0
대여 대여소번호        0
대여 대여소명         0
대여거치대           0
반납일시            0
반납대여소번호         0
반납대여소명          0
반납거치대           0
이용시간(분)         0
이용거리(M)         0
생년              0
성별          59691
이용자종류           0
대여대여소ID         0
반납대여소ID         0
dtype: int64

In [6]:
df.to_csv("C:/data/bicycle_dup.csv")

In [7]:
df2 = pd.read_csv("C:/data/bicycle_dup.csv", engine='python')

In [8]:
df2

,Unnamed: 0,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M),생년,성별,이용자종류,대여대여소ID,반납대여소ID
0,0,SPB-44695,2022-12-01 00:00:10,1933,개봉푸르지오아파트 상가,0,2022-12-01 00:00:20,01933,개봉푸르지오아파트 상가,0,0,0.00,\N,M,내국인,ST-678,ST-678
1,1,SPB-31562,2022-12-01 00:00:04,3007,MBC 앞,0,2022-12-01 00:00:26,03007,MBC 앞,0,0,111.20,1995,F,내국인,ST-2165,ST-2165
2,2,SPB-56324,2022-12-01 00:01:33,4468,가락1동주민센터,0,2022-12-01 00:01:58,04468,가락1동주민센터,0,0,0.00,1994,M,내국인,ST-2583,ST-2583
3,3,SPB-30175,2022-12-01 00:03:02,652,답십리 래미안엘파인아파트 입구,0,2022-12-01 00:03:30,00652,답십리 래미안엘파인아파트 입구,0,0,0.00,1981,M,내국인,ST-1447,ST-1447
4,4,SPB-37639,2022-12-01 00:00:18,1047,강동 한신휴플러스,0,2022-12-01 00:03:55,01075,천동초교 삼거리,0,3,492.34,1989,M,내국인,ST-1369,ST-1836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1815385,1815385,SPB-30272,2022-12-31 19:48:21,1906,신도림역 1번 출구 앞,0,2023-01-02 08:38:53,01906,신도림역 1번 출구 앞,0,2210,25001.78,1998,\N,내국인,ST-664,ST-664
1815386,1815386,SPB-65828,2022-12-31 11:59:43,5858,영등포역5번출구,0,2023-01-03 12:57:29,\N,\N,\N,810,0.00,1998,F,내국인,ST-3142,\N
1815387,1815387,SPB-33852,2022-12-31 21:56:32,2635,잠실새내역 1번출구,0,2023-01-03 12:58:19,\N,\N,\N,810,0.00,\N,\N,비회원,ST-1862,\N
1815388,1815388,SPB-55558,2022-12-31 22:30:52,2325,대치삼성아파트 앞 교차로,0,2023-01-03 12:59:26,\N,\N,\N,810,0.00,2004,M,내국인,ST-808,\N
1815389,1815389,SPB-42935,2022-12-31 23:33:22,2423,영희초교 사거리(래미안개포루체하임),0,2023-01-03 12:59:40,\N,\N,\N,810,0.00,\N,\N,비회원,ST-1889,\N

In [9]:
df.duplicated(['반납일시'])

0          False
1          False
2          False
3          False
4          False
           ...
1815385    False
1815386    False
1815387    False
1815388    False
1815389    False
Length: 1815390, dtype: bool